 #Q1 Write a Python function to sum all the numbers in a list.

In [ ]:
def sum_numbers():
    input_string = input("Enter a list of numbers separated by , : ").split(",")
    numbers = [int(num) for num in input_string]
    total_sum = sum(numbers)
    return total_sum
result = sum_numbers()
print("The sum of the numbers is:", result)

Enter a list of numbers separated by , : 8,2,3,0,7
The sum of the numbers is: 20

# OR

In [13]:
def sum_l(num):
  total = 0
  for num in num:
    total+=num
  return total
sample_list=list(map(int,input("Enter the elements :").split(",")))
print(type(sample_list))
result = sum_l(sample_list)
print(result)

Enter the elements :8,2,3,0,7
<class 'list'>
20

#Q2 Write a Python program to reverse a string

In [ ]:
def reverse_string(input_string):
    reversed_string = ""
    for char in input_string:
        reversed_string = char + reversed_string
    return reversed_string
def main():

    user_input = input("Enter a string: ")
    reversed_input = reverse_string(user_input)
    print("Reversed string:", reversed_input)
main()

Enter a string: 1234abcd
Reversed string: dcba4321

#OR

In [ ]:
def rev(str1):
  return str1[::-1]
str1 = input("enter the string :")
print(str1)

enter the string :1234abcd
1234abcd

# Q3 Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [ ]:
def count_upper_lower(input_string):
    uppercase_count = 0
    lowercase_count = 0

    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

def main():

    user_input = input("Enter a string: ")
    upper_count, lower_count = count_upper_lower(user_input)
    print("Number of uppercase letters:", upper_count)
    print("Number of lowercase letters:", lower_count)


main()

Enter a string: The quick Brow Fox
Number of uppercase letters: 3
Number of lowercase letters: 12